*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
header{
  background-color:#192C3B;
  color: white;
  width: 100vw;
  min-height: 50px;
  max-height: 100px;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  position:fixed;
}
main{
  background-color:#F3F4F6;
  min-height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
}
.inner{
  background-color: #FFFFFF;
  max-width: 700px;
  min-width: 300px;
  padding: 20px;
  border-radius:13px;
  box-shadow: 2px 2px 5px black;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  text-wrap: warp;
}


.inner h1{
  margin-bottom: 10px;
}
.inner h2{
  text-align:center;
  font-size:1.2em;
  line-height: 25px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 10px;
}

.inner a{
  text-decoration: none;
  background-color: goldenrod;
  color:white;
  margin-top: 2px;
  border-radius: 15px;
  max-width: 150px;
  width:100%;
  text-align: center;
  padding:3px;
}

footer{
  background-color:#5F5F5F;
  color: white;
  font-weight: 600;
  display:flex;
  justify-content: center;
  text-warp:warp;
  text-align: center;
  
}
  
  
